.invite{
	background-color: darkgrey;
	height: 137px;
	padding-top: 20px;
	margin-left: 419px;
	margin-right: 461px;
	border-radius: 3px;
	padding-left: 59px;
}
input[type="text"]{
	line-height: 19px;
	margin: 3px;
	width: 295px;
	padding: 3px;
	border-radius: 3px;
	border-style: hidden;
	box-shadow: -2px 3px 8px;
	margin-top: 7px;
}
input[type="button"]{
	margin-top: 6px;
	width: 63px;
	height: 27px;
	font-size: medium;
	border: 2px hidden;
}